
.u-mb--0 {
  margin-bottom: 0 !important;
}

.u-mb--xs {
  margin-bottom: 0.5rem !important;
}

.u-mb--sm {
  margin-bottom: 1rem !important;
}

.u-mb--md {
  margin-bottom: 2rem !important;
}

.u-mb--lg {
  margin-bottom: 4rem !important;
}

.u-mb--ex {
  margin-bottom: 8rem !important;
}

.u-ml--0 {
  margin-left: 0 !important;
}

.u-ml--xs {
  margin-left: 0.5rem !important;
}

.u-ml--sm {
  margin-left: 1rem !important;
}

.u-ml--md {
  margin-left: 2rem !important;
}

.u-ml--lg {
  margin-left: 4rem !important;
}

.u-ml--ex {
  margin-left: 8rem !important;
}

.u-mr--0 {
  margin-right: 0 !important;
}

.u-mr--xs {
  margin-right: 0.5rem !important;
}

.u-mr--sm {
  margin-right: 1rem !important;
}

.u-mr--md {
  margin-right: 2rem !important;
}

.u-mr--lg {
  margin-right: 4rem !important;
}

.u-mr--ex {
  margin-right: 8rem !important;
}

.u-mt--xs {
  margin-top: 0.5rem !important;
}

.u-mt--sm {
  margin-top: 1rem !important;
}

.u-mt--md {
  margin-top: 2rem !important;
}

.u-mt--lg {
  margin-top: 4rem !important;
}

.u-mt--ex {
  margin-top: 8rem !important;
}

.u-mt--n-xs {
  margin-top: -5px !important;
}

.u-mt--n-sm {
  margin-top: -1rem !important;
}

.u-mt--n-md {
  margin-top: -2rem !important;
}

.u-mt--n-lg {
  margin-top: -4rem !important;
}

.u-mt--n-ex {
  margin-top: -8rem !important;
}
