.u-font-serif {
  font-family: $font-serif !important;
}

.u-font-sans-serif {
  font-family: $font-sans-serif !important;
}

.u-font-mono {
  font-family: $font-mono !important;
}

.u-font-tsukushi {
  font-family: $font-tsukushi !important;
}

.u-fz-xs {
  font-size: 0.6rem !important;
}

.u-fz-sm {
  font-size: 0.8rem !important;
}

.u-fz-md {
  font-size: 1rem !important;
}

.u-fz-lg {
  font-size: 2rem !important;
}

.u-fz-ex {
  font-size: 3rem !important;
}

.u-lh-0 {
  line-height: 1 !important;
}

.u-lh-1 {
  line-height: 1.1 !important;
}

.u-lh-sm {
  line-height: 1.4 !important;
}

.u-lh-md {
  line-height: 1.75 !important;
}

.u-lh-lg {
  line-height: 1.9 !important;
}

.u-lh-ex {
  line-height: 2.5 !important;
}

//

.u-bold {
  font-weight: bold !important;
}
