html {
  width: 100%;
  height: 100%;
  font-size: calc(100vw * 16 / 375);

  @include tablet {
    font-size: calc(100vw * 16 / 768);
  }

  @include desktop {
    font-size: calc(100vw * 16 / 1200);
  }

  @include widescreen {
    font-size: calc(100vw * 16 / 1440);
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-sans-serif;
  font-weight: $base-fontweight;
  color: $text-color;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: $color-white;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt";
  font-variant-ligatures: none;

  @media screen\0 {
    font-family: $font-ie;
  }
}

a {
  color: inherit;

  &:not([class]) {
    font-weight: 700;
    color: $color-sky;
    letter-spacing: 0.1em;

    @include sizes(-2, 3);

    &:hover {
      color: $color-white;
      background-color: $color-sky;
    }
  }
}

img,
svg {
  vertical-align: bottom;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid rgba($text-color, 1);
}

br {
  line-height: 0;
}

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

::selection {
  color: $color-black;
  background: $color-gray-level4;
}

[lazy='loading'] {
  //opacity: 0;
}

[lazy='error'] {
  //opacity: 1;
}

[lazy='loaded'] {
  //opacity: 1;
  //transition: opacity 0.2s $easeOutSine;
}
