@keyframes dummy {
  0% {
    opacity: 1;
  }
  //
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  //
  50% {
    opacity: 0;
  }
  //
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  //
  100% {
    opacity: 1;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  //
  100% {
    opacity: 0;
  }
}

@keyframes transformYIn {
  0% {
    transform: translateY(100%);
  }
  //
  100% {
    transform: translateY(0%);
  }
}

@keyframes transformYOut {
  0% {
    transform: translateY(0%);
  }
  //
  100% {
    transform: translateY(-100%);
  }
}

@keyframes transformTextYIn {
  0% {
    transform: translateY(125%);
  }
  //
  100% {
    transform: translateY(0%);
  }
}

@keyframes transformTextYOut {
  0% {
    transform: translateY(0%);
  }
  //
  100% {
    transform: translateY(125%);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(40px);
  }
  //
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleYIn {
  from {
    transform: scaleY(0);
  }
  //
  to {
    transform: scaleY(1);
  }
}

@keyframes scaleYOut {
  from {
    transform: scaleY(1);
  }
  //
  to {
    transform: scaleY(0);
  }
}

@keyframes scaleXLeft2Right {
  0% {
    transform: scaleX(1);
    transform-origin: right center;
  }
  //
  40% {
    transform: scaleX(0);
    transform-origin: right center;
  }
  //
  60% {
    transform: scaleX(0);
    transform-origin: left center;
  }
  //
  100% {
    transform: scaleX(1);
    transform-origin: left center;
  }
}
