@keyframes flash {
  0% {
    opacity: 1;
  }
  //
  50% {
    opacity: 0;
  }
  //
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(1turn);
  }
}
