/**
  //
  // color setting
  // - - - - - - - -
 */
$color-primary: hsl(170, 69%, 65%) !default;
$color-primary-light: lighten($color-primary, 12%) !default;

$color-black: #3f3a39 !default;
$color-white: #fff !default;

$color-yellow: #ffcd75 !default;
$color-red: #990900 !default;
$color-sky: hsl(218, 69%, 65%) !default;
$color-green: #2c3223 !default;
$color-pink: #3daee4 !default;
$color-purple: #0051a4 !default;
$color-orange: #ff9f00 !default;
$color-wasabi: #93c19f !default;
$color-salmon: #f29ea3 !default;
$color-lime: #cfdd3c !default;

$color-gold: #c0a164 !default;
$color-gray: #f3f2f2 !default;


$color-gray-level1: #3f3a39 !default;
$color-gray-level2: #808080 !default;
$color-gray-level3: #a8a8a8 !default;
$color-gray-level4: #dedede !default;
$color-gray-level5: #e5e5e5 !default;



//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
